<p *ngIf="mostrarMensaje">{{mensaje}}</p>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline">
                <fieldset class="form-group col-sm-12"></fieldset>
                <fieldset class="form-group col-sm-1">
                    <a class="btn btn-primary" [routerLink]="['/users/nuevo']">+</a>
                </fieldset>
                <fieldset class="form-group col-sm-1">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Filtrar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button" (click)="getUsers_Acceso()" class="btn btn-light">Sin filtro</button>
                          <button class="dropdown-item" type="button" (click)="filtrarEnabled(true)" class="btn btn-light">Activados</button>
                          <button class="dropdown-item" type="button" (click)="filtrarEnabled(false)" class="btn btn-light">Desactivados</button>
                        </div>
                      </div>
                </fieldset>
                <fieldset class="form-group col-sm-1">
                    <a class="btn btn-info" (click)="activarSeleccionados()">Activar</a>
                </fieldset>
                <fieldset class="form-group col-sm-1">
                    <a class="btn btn-info" (click)="desactivarSeleccionados()">Desactivar</a>
                </fieldset>
                <fieldset class="form-group col-sm-1">
                    <fieldset class="col-sm-12"> 
                        <a class="btn btn-danger float-end" (click)="logOut()">Logout</a>
                    </fieldset>
                </fieldset>
                
            </form>
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th> </th>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rol</th>
                        <th>email</th>
                        <th>Fecha creación</th>
                        <th>Fecha modificación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books" class="row">
                        <td><input class="form-check-input" type="checkbox" value="" id={{user.id}} ></td>
                        <td><i>{{user.name}}</i></td>
                        <td><i>{{user.firstName}}</i></td>
                        <td><i>{{user.lastName}}</i></td>
                        <td><i>{{user.role}}</i></td>
                        <td><i>{{user.email}}</i></td>
                        <td><i>{{user.createdAt}}</i></td>
                        <td><i>{{user.updatedAt}}</i></td>
                        <td><a class="btn btn-info" [routerLink]= "['/users', user.id,'editar']" > Editar </a> </td>
                        <td><a class="btn btn-danger" (click)="borrar(user.id)">-</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

