<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="nombre">Usuario</label>
                        <input type="text" class="form-control"  required [disabled]="id ? true : false"
                        [(ngModel)]="user.name" name="nombre">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="firstname">Nombre</label>
                        <input type="text" class="form-control"  required 
                        [(ngModel)]="user.firstName" name="firstname">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-6">
                    <label class="control-label" for="lastname">Apellido</label>
                    <input type="text" class="form-control" required
                    [(ngModel)]="user.lastName" name="lastname">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="email">email</label>
                        <input type="text" class="form-control" required 
                        [(ngModel)]="user.email" name="email">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="password">Contraseña</label>
                    <input type="password" class="form-control" 
                    required [(ngModel)]="user.password" name="password">
                </div>
            </fieldset>
            <fieldset class="form-group" >
                <div class="col-sm-3">
                    <label class="control-label" for="role">Rol</label>
                    <input type="text" class="form-control" [disabled]="id ? true : false"
                    [required]="id ? false : true"  pattern="HOST|GUEST|0|1" [(ngModel)]="user.role" name="role">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid"> Submit </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
    